<h1>Dashboard#index</h1>

<h4>Bienvenido <%= current_user.username %></h4>

<h5>Tienes acceso como: <%= current_user.role.to_s.humanize %></h5>


<%= link_to "Modificar Usuario", edit_user_registration_path, class:'btn btn-info' %>
<p></p>
<%= link_to "Salir", destroy_user_session_path, data: { "turbo-method": :delete }, class:'btn btn-danger' %>