<p style="color: green"><%= notice %></p>

<h1> <%= link_to "Órdenes de compra", purchase_orders_path, class:'text-black text-decoration-none' %> </h1>

<div id="purchase_orders">
  <%= render 'po_table' %>
</div>