<h1>Modificar Partida</h1>

<%= render "form", budget_item: @budget_item %>

<br>

<div>
  <%= link_to "Detalles", @budget_item, class:'btn btn-info' %> |
  <%= link_to "Regresar", budget_items_path, class:'btn btn-info' %>
</div>
