<p style="color: green"><%= notice %></p>
<h1><%= link_to "Partidas", budget_items_path, class:'text-black text-decoration-none' %></h1>

<div id="budget_items">
  <%= render 'budget_items_table' %>
</div>