<h1>Editing po receipt</h1>

<%= render "form", po_receipt: @po_receipt %>

<br>

<div>
  <%= link_to "Show this po receipt", @po_receipt, class:'btn btn-info' %> |
  <%= link_to "Back to po receipts", po_receipts_path, class:'btn btn-info' %>
</div>
