<p style="color: green"><%= notice %></p>

<h1><%= link_to "Recibo de suministros", po_receipts_path, class:'text-black text-decoration-none' %></h1>

<div id="po_receipts">
  <%= render 'receipts_table' %>
</div>


