<h1>Editar Transferencia</h1>

<%= render "form", stock_transfer: @stock_transfer %>

<br>

<div>
  <%= link_to "Show this stock transfer", @stock_transfer, class:'btn btn-info' %> |
  <%= link_to "Back to stock transfers", stock_transfers_path, class:'btn btn-info' %>
</div>
