<p style="color: green"><%= notice %></p>

<h1><%= link_to "Transferencias de insumos", stock_transfers_path, class:'text-black text-decoration-none' %></h1>

<div id="stock_transfers">
  <%= render 'table_transfers' %>
</div>
