<p style="color: green"><%= notice %></p>

<h1><%= link_to "Articulos de orden de compra", po_items_path, class:"text-black text-decoration-none" %></h1>

<div id="po_items">
  <%= render 'items_table' %>
</div>
