<p style="color: green"><%= notice %></p>

<h1><%= link_to "Almacenes", warehouses_path, class: 'text-black text-decoration-none' %></h1>

<div id="warehouses">
  <%= render 'warehouses_table' %>
</div>


